" Modeline and Notes {
"   KemojoVim is a modern & powerful vim distribution
"   Repo URL: https://github.com/Kemmojo/KemojoVim
"   Inspired by [LER0ever](https://github.com/LER0ever)
" }


" KemojoVim options {
"    st (suckless Terminal) Settings
"    let g:netrw_dirhistmax  =10
"    let g:netrw_dirhist_cnt =1
"    let g:netrw_dirhist_1='/home/kemojo/dotfiles/strc/st-0.8.1'
    let g:kemojovim_bundle_groups=['general']

" }
